.tweets{
    border-right:1px solid #e6ecf0;
    min-width: 42%;
    margin: 0 20px;
    max-width: 42%;
    float: left;
    margin-left: -0.1%;
}

.tweets .title{
   border-bottom: 1px solid #e6ecf0;
   margin-left: -0.1%;
}

.tweets .title h3{
  margin-left: 3%;

}

@media (max-width: 1280px) {
  .tweets {
    min-width: 50%;
  }
}

@media (max-width: 1056px) {
  .tweets {
    min-width: 70%;
  }
}


